@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "_mixin";
@import "_reset";

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h1{
        a{
            font-size: 3em;
            color: $mainColor;
            text-decoration: none;
            text-transform: uppercase;
            background-color: rgba(0,0,0,0.6);
            padding: 10px;
        }
    }

    .popover{
        display: none;
        &:target{
           position: absolute;
           top: 0;
           right: 0;
           width: 100%;
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: center; 
        }
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 0;
            height: 0;
            color: $mainColor;
            background-color: #191919;
            animation: 1s grow ease forwards;
            text-align: center;
            .nav{
                .nav-list{
                    text-decoration: none;
                    font-size: 50px;
                    color: $mainColor;
                    .nav-list-item{
                        height: 100%;
                        overflow: hidden;
                        li{
                            padding: 15px 0;
                            text-transform: uppercase;
                            transform: translateY(200px);
                            opacity: 0;
                            animation: 2s slideUp ease forwards 0.5s;
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                height: 2px;
                                width: 0px;
                                left: 0;
                                bottom: 10px;
                                background-color: $mainColor1;
                                transition: all 0.5s ease;
                            }

                            &:hover:before{
                                width: 100%;
                            }
                            a{
                                color: $mainColor;
                            }
                        }
                    }
                }
            }
            .close::after{
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                position: absolute;
                display: flex;
                z-index: 1;
                font-size: 30px;
                align-items: center;
                justify-content: center;
                background-color: $mainColor1;
                color: $mainColor;
                content: 'x';
                opacity: 0;
                animation: 1s fadeIn ease forwards 0.5s;
            }
        }

        p{
            padding: 50px;
            opacity: 0;
            animation: 1s fadeIn ease forwards 1s;
        }
    }
}

// keyFrames

@keyframes grow{
    100%{
        height: 90%;
        width: 90%;
    }
}

@keyframes fadeIn{
    100%{
        opacity: 1;
    }
}

@keyframes slideUp{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

// media query

@include mobile {}

@include tablet {}

@include desktop {}